HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Aplication-secret.propeties ###
**/application-secret.properties
**/application-test.properties

/target/.env
.env.staging
.env.production
*.log
*.tar
.deploy.sh
deploy.sh
.env
gerar_pdf.sh
.gerar_pdf.sh

